
<div class="staffs">

  <div class="header">
      <h1>List of all signed in Staff Members</h1>
  </div>

  <%= form_tag sessions_path do %>
  <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Log In", class: "btn btn-primary"%>
    <%end%>
    <a href="/staffs/new"> Create New Admin </a><br />

<h2> Username: <%= current_staff.username %></h2>
<a href="/staffs/destroy">LogOut</a>
<%= button_to 'Edit', edit_staff_path(current_staff), method: :get%>
</div>
