<!-- <%= stylesheet_link_tag    'ordered_items', media: 'all', 'data-turbolinks-track' => true %> -->

<body class="all">
    <div id="wrap">
      <form action="" id="menuform" onsubmit="return false;">

      <div>
          <div class="cont_order">
            <h1>Current Orders</h1>
            <h3>is there where we are taken after pressing submit for an order?</h3>


                <% @ordered_items.each do |ordered_item| %>


                    <h3>Staff Member: <%= current_staff.name %></h3>


                <h3>Appetizer:
                <br /><%= ordered_item.menu_item.food %>
                <br /><br />Main Course :<br /> <%= ordered_item.menu_item.food1 %> </h3>

                    <h4 class="selectedAppetizer"  type="range" min="0" max="255" >Total: $ <%= ordered_item.menu_item.price  %></h4>

                    <h4 class="selectedAppetizer1" type="range" min="0" max="255" >Total: $ <%= ordered_item.menu_item.price1  %></h4>



                <button id="calculateTotal" onclick="calculateTotal()" >Calculate</button>
                <!-- <p id="bill">Total Bill: </p> -->
              <br />
          </div>
              <!-- <input type="submit" id="submit" value="SubTotal" onclick="calculateTotal()"> -->
        </div>
      </div>
    </form>
<!--
    <form id="calculator">
        <p>Amount: <input id="amount"></p>
        <p>Tip Percentage: <input id="percentage"></p>
        <hr />
        <p>Tip: <input id="tip" disabled="disabled"></p>
        <p>Total: <input id="total" disabled="disabled"></p>

        <div class="priceWithTip"></div>
        <input type="submit" id="submitTwo" value="priceWithTip" onclick="calculateGrandTotal"/>
    </form> -->
                <% end %>
</body>
