<h1>Current Orders</h1>
<h3>is there where we are taken after pressing submit for an order?</h3>

<% @ordered_items.each do |ordered_item| %>


    <h3>Staff Member: <%= current_staff.name %></h3>


<h3>Food choices 1: <%= ordered_item.menu_item.food %>

  2: <%= ordered_item.menu_item.food%> </h3>

    <h3>Total: $ <%= ordered_item.menu_item.price  %></h3>

    <h3>Total: $ <%= ordered_item.menu_item.price  %></h3>

<% end %>
